.center-block{
	width:400px;
	height:400px;
	border-style:solid;
	border-width:thin;
	display:block;
	margin-top:200px;
	margin-left:500px;
	margin-right:auto;
	background-color:aliceblue;
	border-radius:15px;
	
}
